# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.*
config/*.env

# Build
/dist/
/build/

# VSCode
.vscode/
.github/

# OS
.DS_Store
Thumbs.db

# Docker
mongo_data/
docker-compose.yml

# Test
coverage/

# Lock files
package-lock.json
pnpm-lock.yaml
yarn.lock

# Misc
*.log
